{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
      <div class="archive__item-title" itemprop="headline">
        <strong>{{ title }}</strong>
      </div>
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.authors }}<br/>
        <strong>Status:</strong> {{ post.status }} &nbsp;&nbsp;&nbsp;
        {% if post.doi or post.arxiv or post.biorxiv or post.chemrxiv %}
        <strong>Preprint:</strong>
        {% endif %}
        {% if post.doi %}
          <a href="http://dx.doi.org/{{ post.doi }}" rel="permalink"><i class="ai ai-doi ai-lg" aria-hidden="true" title="permalink"></i><span class="sr-only">DOI</span></a>
        {% endif %}
        {% if post.arxiv %}
          <a href="https://arxiv.org/abs/{{ post.arxiv }}" rel="permalink"><i class="ai ai-arxiv-square ai-lg" aria-hidden="true" title="permalink"></i><span class="sr-only">arXiv</span></a>
        {% endif %}
        {% if post.biorxiv %}
          <a href="https://biorxiv.org/content/10.1101/{{ post.biorxiv }}" rel="permalink"><i class="ai ai-biorxiv-square ai-lg" aria-hidden="true" title="permalink"></i><span class="sr-only">bioRxiv</span></a>
        {% endif %}
        {% if post.chemrxiv %}
          <a href="https://dx.doi.org/{{ post.chemrxiv }}" rel="permalink">ChemRxiv</a>
        {% endif %}

        <a href="{{ base_path }}{{ post.url }}" rel="permalink" class="more-info">More info &rarr;</a>
      </p>
    </li>
 </article>
</div>
